@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  direction: rtl;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}
